services:
  #  GATEWAY (punto de entrada)
  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8000:8000"
    depends_on:
      - calendar_service
      - event_service
      - comment_service
    env_file:
      - .env
    restart: always

  #  CALENDAR SERVICE
  calendar_service:
    build: ./servicios/calendar_service
    container_name: calendar_service
    ports:
      - "8001:8000"
    env_file:
      - .env
    restart: always

  #  EVENT SERVICE
  event_service:
    build: ./servicios/event_service
    container_name: event_service
    ports:
      - "8002:8000"
    env_file:
      - .env
    restart: always

  #  COMMENT SERVICE
  comment_service:
    build: ./servicios/comment_service
    container_name: comment_service
    ports:
      - "8003:8000"
    env_file:
      - .env
    restart: always
  
  #  EXTERNAL CALENDAR SERVICE
  external_service:
    build: ./servicios/external_calendar_service
    container_name: external_service
    ports:
      - "8004:8000"
    environment:
      - CALENDAR_SERVICE_URL=http://calendar_service:8000
      - EVENT_SERVICE_URL=http://event_service:8000
    restart: always

  #  FRONTEND
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5001:5000"
    depends_on:
      - gateway
    environment:
      - GATEWAY_URL=http://gateway:8000
    restart: always
